html, body{
	width: 100%;
	height: 100%;
	min-width: 320px;
	margin:0;
	color: cadetblue;
	cursor: default;
	font-family: sans-serif;
	text-align: center;
}
#map_canvas{
	margin: 20px auto;
	width: 90%;
	height: 70%;
}
#menu{
	margin: 5px auto;
	width: 90%;
	text-align: center;
}
.menu_item{
	display: inline-block;
	padding: 5px;
	margin: 3px;
	border-radius: 3px;
	background-color: azure;
}
.menu_item:hover{
	background-color: cadetblue;
	color: azure;
}